body{
    margin: 0;
    font-family: Outfit, sans-serif;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(212, 45%, 89%);
}
.card{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width: 280px;
}
img{
    border-radius: 10px;
    width: 100%;
}
h1{
    font-size: 1.1em;
    font-weight: 800;
    color: #0f0f0f;
    line-height: 1;
}
p{
    font-size: 0.9em;
    color: hsl(0, 0%, 59%);
    margin: 10px 15px 20px 15px;
}
h1,
p{
    margin: 10px;
}