:root{
    --background-color: hsl(212, 45%, 89%);
    --card-color: white;
    --border-radius-card: 1.2rem;
    --border-radius-img: 0.625rem;
    --text-dark: #0f0f0f;
    --text-light:hsl(0, 0%, 59%);
    --padding: 1rem;
    --padding-inline: 1rem;
}
body{
    margin: 0;
    font-family: Outfit, sans-serif;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-color);
    padding-inline: var(--padding-inline);
}
figure{
    margin: 0;
}
.card{
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding: var(--padding);
    text-align: center;
    width: min(17.5rem, 90%);
}
img{
    border-radius: var(--border-radius-img);
    width: 100%;
}
h1{
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-weight: 800;
    color: var(--text-dark);
}
p{
    font-size: 0.9rem;
    color: var(--text-light);
}
.words{
    margin: 1rem;
}