:root{
    --background-color: hsl(212, 45%, 89%);
    --card-color: white;
    --border-radius-card: 1.2rem;
    --border-radius-img: 0.625rem;
    --text-dark: #0f0f0f;
    --text-light:hsl(0, 0%, 59%);
    --padding: 1rem;
}
body{
    margin: 0;
    font-family: Outfit, sans-serif;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-color);
}
.card{
    background-color: var(--card-color);
    border-radius: var(--border-radius-card);
    padding: var(--padding);
    text-align: center;
    width: min(280px, 90%);
}
img{
    border-radius: var(--border-radius-img);
    width: 100%;
}
h1{
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--text-dark)
}
p{
    font-size: 0.9em;
    color: var(--text-light)
}
h1,
p{
    margin: 0.625rem;
}